.addRecipe {
  align-items:center;
  padding: 20px 20px 20px 20px;
  margin-left: 15%;
  margin-right: 15%;
  font-family: fantasy;
  margin-top: 10%;
}

.g-2{
  margin-left: 20px;
  margin-bottom: 2%;
}