/* HomePage.css */

.guest-button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .guest-button {
    font: verdana;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    border-color: darkgreen;
  }
  